# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.poly-clash.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\poly-clash\.idea\.idea.poly-clash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
